[Unit]
Description=SASL authentication daemon.

[Service]
Type=forking
PIDFile=/run/saslauthd/saslauthd.pid
Environment="MECH=pam"
Environment="FLAGS="
EnvironmentFile=-/etc/sysconfig/saslauthd
ExecStart=/usr/sbin/saslauthd -a $MECH $FLAGS
RuntimeDirectory=saslauthd

[Install]
WantedBy=multi-user.target
